.unavailable {
    // background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/images/stars-field.png");
    background-size: cover repeat;

    button {
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        padding: 10px 20px;
        font-family: 'Manrope';
        font-size: 1rem;
        font-weight: 600;
        color: #121212;
        cursor: pointer;
        transition: all .3s ease;
        margin-top: 30px;

        &:hover {
            background-color: #121212;
            color: #fff;
        }
    }
}

.text-mask {
    font-family: 'Manrope';
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    background-image: url(https://user-images.githubusercontent.com/63467479/185913244-feccc29b-f20e-40e2-824b-b701a95250c6.svg);
    background-size: cover;
    background-position: 10%;
    background-repeat: no-repeat;
    width: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}