.card-con{
    width: 18%;
    min-width: 260px;
    background-color: #1F2024;
    box-sizing: border-box;
    margin: 0px 20px 20px 0px;
    border-radius: 5px;
    filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.5));

    .options{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid #23F7ED;

        img{
            padding-top: 4px;
            padding-bottom: 4px;
            height: 30px;
            width: 30px;
            // border-left: 1px solid grey;
        }
    }

    .sub-con{
        padding: 0px 10px;
        box-sizing: border-box;

        .lang-icon{
            padding-top: 20px;
            display: flex;
            justify-content: center;
        }

        .file-info{
            padding-top: 20px;
            p{
                margin: 5px 0px;
            }
            .lines{
                color: #828282;
                span{
                    color: #23F7ED;
                }
            }
        }
    
        .file-hist{
            padding-top: 15px;
            padding-bottom: 10px;
            display: flex;
            justify-content: space-between;
    
            p{
                margin: 0px;
                font-size: 12px;
                color: #828282;
            }
        }
    }
}