header {
    padding: 0px 30px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #1F2024;
}