.app-nav {
    padding: 0px 0px 0px 30px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2024;

    .play-nav{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .nav-controls{
            display: flex;
            gap: 10px;
        }

        .brand-logo{
            margin-right: 20px;

            &:hover{
                cursor: pointer;
            }
        }
    }

    .acc{
        max-width: 400px;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        img{
            width: 30px;
            height: 30px;
            margin: 0px 10px;

            &:hover{
                cursor: pointer;
            }
        }

        button {
            background-color: var(--primary-color);
            border: 1px solid var(--primary-color);
            border-radius: 5px;
            padding: 8px 20px;
            font-family: 'Manrope';
            font-size: 1rem;
            font-weight: 600;
            color: #1a1a1e;
            cursor: pointer;
            margin-right: 10px;
            transition: all .3s ease;
    
            &:hover {
                background-color: #1a1a1e;
                color: #fff;
            }
        }
    }
}